
DATABASE_URL=postgresql://user:password@localhost:5432/dukkani
NEXT_PUBLIC_CORS_ORIGIN=http://localhost:3002
NEXT_PUBLIC_NODE_ENV=local
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3003
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=